body{
    background:linear-gradient(45deg,#0a0a0a,#3a4452);
    font-family: serif;
}


.container{
    /* border: 3px solid black; */
    width: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background:linear-gradient(50deg,#0a0a0a,#3a4452);
    box-shadow: -12px 4px 15px rgba(29, 6, 6, 0.7);
}
.btn{
    padding: 20px;
    width: 55px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    /* border-style: none; */
    cursor: pointer;
    border-style: none;
    /* border: 2px solid black; */
    background: transparent;
    color: white;
    box-shadow: -2px 3px 3px rgba(29, 6, 6, 0.7);
}
.row{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    gap: 0px 10px;
    background: transparent;

}
.screen{
    color: white;
    padding: 16px 0px;
    /* border: 3px solid black; */
    border-style: none;
    padding-right: 5px;
    border-radius: 4px;
    margin-top: 4px;
    font-size: 22px;
    background: transparent;
    box-shadow: 0px 5px 5px rgba(29, 6, 6, 0.7);
    text-align: right;
}
input::placeholder{
    color: white;
}
.equal{
    background-color: #fb7c14;
}
.equal:hover{
    font-weight: bolder;
}
.clear{
    color: #fb7c14;
    font-weight: bolder;
}
.heading{
    text-align: center;
    justify-content: center;
    color: white;
}
